body {
    display: flex;
    justify-content: center;
    background-color: black;
}

.calculator {
    box-sizing: border-box;
    width: 350px;
    padding: 25px;
    margin-top: 60px;
    border-radius: 10px;
    background-color: grey;
}

.screen {
    width: 300px;
    height: 90px;
    border-radius: 5px;
    background-color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 5px;
}

.clear,
.backspace {
    width: 140px;
}