body {
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.calculator {
    box-sizing: border-box;
    width: 350px;
    padding: 25px;
    margin-top: 60px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(165, 165, 165);
}

.screen {
    box-sizing: border-box;
    width: 300px;
    min-height: 90px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
}

.upperScreen {
    height: 20px;
    padding: 2px;
    font-size: 18px;
    text-align: right;
}

.lowerScreen {
    min-height: 50px;
    word-wrap: break-word;
    padding: 2px;
    margin-top: 5px;
    font-size: 42px;
    text-align: right;
}

.buttons {
    box-sizing: border-box;
    width: 300px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 5px;
    background-color: white;
    opacity: 0.7;
}

button:hover {
    opacity: 1;
}

.Escape,
.Backspace {
    width: 140px;
    background-color: rgb(143, 164, 182);
}

.operator {
    background-color: rgb(248, 209, 137);
}

.Enter {
    background-color: rgb(148, 132, 240);
}